@import "tailwindcss";

* {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

@theme {
  --color-surface-orange: #FF8307;
  --color-surface: #252525;
  --color-background: #121212
}
